<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        {% block head %}
            <title>Vendas On</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="content-header">
                <a href="/">Vendas On</a>
                <input placeholder="Buscar">
                <a href="/">+ Novo Anúncio</a>
                <a href="/">
                    <img src=" https://via.placeholder.com/24">      
                </a>
                <a href="/">
                    <img src=" https://via.placeholder.com/24">      
                </a>

            </div>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>