{% extends "layout.njk" %}

{% block content %}

<div class="content">
    <div class="wrapper-login">
        <form class="form-login"> 
            <label>Entrar</label>
            <label>Email</label>
            <input placeholder="Digite seu email">
            <label>Senha</label>
            <input placeholder="Digite sua senha">
            <button class="login-button">Entrar</button>
            <div class="wrapper-login-links">
                <a>Registre-se</a>
                <a>Esqueci a senha</a>
            </div>
        </form>
    </div>
</div>


{% endblock content %}